@font-face {
    font-family: openSans-regular;
    src: local("OpenSans-regular"), url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: openSans-semiBold;
    src: local("OpenSans-SemiBold"), url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: openSansCondensed-Bold;
    src: local("OpenSansCondensed-Bold"), url(../fonts/Open_Sans/OpenSans_Condensed-Bold.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 5;
  position: relative;
  color: #454545;
  font-family: "OpenSans-regular", sans-serif;
  font-size: 1rem;
  line-height: 26px;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
ul{
  padding-left: 0;
}
ul li {
  list-style: none;
}

input:focus, select:focus {
  outline: none;
}

input{
  padding-left: 10px !important;
}

img{
  width: 100%;
  height: auto;
}

.dashboard{
  display:flex;
  flex-wrap: nowrap;
}

.aside{
  background-color: #000;
  position:fixed;
  top:0;
  left:0;
  width: 235px;
  height: 100vh;
  z-index: 8;
}
.aside__top{
  padding:20px 70px;
}
.aside__top a{
  display: block;
}
.aside__bottom{
  padding-right: 10px;
  padding-left: 10px;
}
.aside__bottom__item__link{
  display: block;
  padding:8px 10px;
  border-radius: 6px;
  transition: .3s;
  color:#979090;
  padding-left: 40px;
  transition: .3s;
  margin-bottom: 3px;
}
.aside__bottom__item__link i{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:10px;
  background-color: #979090;
  transition: .3s;
}
.aside__bottom__item__link.active{
  background-color: #ff8800;
  color:#fff
}
.aside__bottom__item__link.active i{
  background-color: #fff;
}
.aside__bottom__item__link:hover{
  background-color: #ff8800;
  color:#fff
}
.aside__bottom__item__link:hover i{
  background-color: #fff;
}

.dashboard__right{
  padding-left: 235px;
  width:100%;
}

.dashboard__nav{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:15px;
  box-shadow: 0px 5px 8px #0000001a;
  position:sticky;
  top:0;
  left:0;
  width:100%;
  z-index: 8;
}
.dashboard__nav__profilBtn{
  display: block;
  height: 35px;
  width: 35px;
  border-radius:50%;
  border: 1px solid silver;
}
.dashboard__nav__profilBtn i{
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.dashboard__nav__dropdown{
  position: absolute;
  padding:10px;
  box-shadow: 0px 2px 4px #0000005e;
  background-color: #fff;
  right:0;
  top:50px;
  border-radius: 5px;
  display:none;
}
.dashboard__nav__dropdown.active{
  display: block;
}
.dashboard__nav__dropdown li a{
  display: flex;
  align-items: center;
  gap:5px;
}
.dashboard__nav__dropdown li a:hover span{
  color:#ff8800;
}

.dashboard__main{
  padding:15px;
  background-color: #fbfbfb;
  min-height: calc(100vh - 65px);
}
.dashboard__main__title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:8px;
  padding:0 0 5px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}
.dashboard__main__title p{
  font-family: "OpenSans-SemiBold", sans-serif;
}

.dashboard__main__action{
  padding-left:30px;
}
.btn-action{
  padding: 8px 25px;
  background-color: #eee;
  display: flex;
  width: max-content;
  gap:5px;
  border-radius:5px 5px 0 0;
  box-shadow: 0px 7px 4px #0000005e;
}

.dashboard__main__box{
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #0000005e;
}

.fnb-table{
  width: 100%;
  border-collapse: collapse;
}
.fnb-table thead th{
  text-align: left;
  padding:10px 8px;
}
.fnb-table thead tr{
  background-color: #eee;
}
.fnb-table tbody tr{
  border-bottom: 1px solid #E6EAEE;
}
.fnb-table tbody tr td{
  padding: 10px 5px;
}
.fnb-actions{
  display: flex;
}
.fnb-actions a{
  border:1px solid #fff;
  width:30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.fnb-actions a i{
  background-color: #fff;
}
.fnb-actions__edit {
  background-color: blue;
}
.fnb-actions__delete {
  background-color: red;
}


.fnb-form{
  max-width: 650px;
  margin:0 auto;
  padding: 15px;
  border:2px solid #8b8888;
  border-radius: 8px;
}
.fnb-form__item {
  margin-bottom: 20px;
}
.fnb-form__item label{
  display: block;
}
.fnb-form__item input,.fnb-form__item select{
  border:2px solid #8b8888;  
  width: 100%;
  border-radius:6px;
  height: 40px;
}
.fnb-form__item select{
  background-color: #fff;
}
.fnb-form__item textarea{
  border:2px solid #8b8888;  
  width: 100%;
  border-radius:6px;
  height: 120px;
  padding-left: 10px;
}
.fnb-form__item textarea:focus{
  outline:none;
}
.fnb-form__item .submit-button{
  padding:6px 25px;
  color:#fff;
  background-color: #ff8800;
  border-radius: 6px;
  cursor: pointer;
  border:none;
}
.fnb-form__item-action{
  text-align: center;
  margin-top:25px;
}
/**end*/


.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.content__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.content__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article-list {
    margin-bottom: 20px;
}

.article {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.article__title {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.article__description {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
}

.article__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.article__action {
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.article__action:hover {
    background-color: #E07F5F;
}

.article__action--edit {
    margin-right: 10px;
}

.article__action--delete {
    margin-left: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
.container {
        flex-direction: column;
    }

.sidebar {
        width: 100%;
        border-right: none;
        margin-bottom: 20px;
    }

.content {
        width: 100%;
    }
}





/* Styles pour le formulaire de création d'article */

/* Styles pour les erreur du formulaire */
/* Styles pour les alertes d'erreur */
.alert {
    display: none; /* Cacher les alertes d'erreur par défaut */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.alert.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Styles pour les messages d'erreur individuels */
.alert.alert__message {
    margin: 0;
    padding: 0;
}

/* Styles pour afficher les alertes d'erreur */
.alert.alert-danger {
    display: block; /* Afficher les alertes d'erreur */
}

/* Styles pour les messages d'erreur individuels lorsqu'ils sont affichés */
.alert.alert-danger.alert__message {
    display: block;
}

/* .article-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
} */

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: calc(100% - 5px);
    padding: 10px 10px 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-top: 5px;
}

.form-group input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; /* Cacher le bouton de téléchargement par défaut */
}

.form-group input[type="file"]::before {
    content: 'Choisir un fichier';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.form-group input[type="file"]::after {
    content: '';
    margin-left: 5px;
}

.form-group input[type="file"]:hover::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


/*.submit-button {
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #E07F5F;
}
*/

/* Block: Form */
.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Element: Form Group */
.form__group {
    margin-bottom: 15px;
}

/* Element: Form Input */
.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Modifier: Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F1902E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Modifier: Button - Hover */
.btn--hover {
    background-color: #fab46e;
}

/* Element: File Inputs */
.file-inputs {
    margin-top: 20px;
}

/* Element: File Input */
.file__input {
    margin-bottom: 10px;
}


.galleries__table {
    width: 100%;
    border-collapse: collapse;
}

.galleries__table th,.galleries__table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.galleries__table th {
    background-color: #f2f2f2;
}

.galleries__table td {
    text-align: left;
}

.galleries__table-actions {
    text-align: center;
}

.galleries__table-action {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.galleries__table-action--update {
    background-color: #4CAF50;
}

.galleries__table-action--delete {
    background-color: #f44336;
}

.galleries__table-action:hover {
    background-color: #45a049; /* Pour.update */
    background-color: #c62828; /* Pour.delete */
}

.galleries__table img {
    width: 50px;
    height: auto;
    object-fit: cover;
}
