body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0 20px;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-right: 1px solid #e0e0e0;
}

.sidebar__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar__button {
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar__button:hover {
    background-color: #E07F5F;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.content__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.content__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.article-list {
    margin-bottom: 20px;
}

.article {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.article__title {
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.article__description {
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
}

.article__actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.article__action {
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.article__action:hover {
    background-color: #E07F5F;
}

.article__action--edit {
    margin-right: 10px;
}

.article__action--delete {
    margin-left: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
.container {
        flex-direction: column;
    }

.sidebar {
        width: 100%;
        border-right: none;
        margin-bottom: 20px;
    }

.content {
        width: 100%;
    }
}





/* Styles pour le formulaire de création d'article */

/* Styles pour les erreur du formulaire */
/* Styles pour les alertes d'erreur */
.alert {
    display: none; /* Cacher les alertes d'erreur par défaut */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.alert.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

/* Styles pour les messages d'erreur individuels */
.alert.alert__message {
    margin: 0;
    padding: 0;
}

/* Styles pour afficher les alertes d'erreur */
.alert.alert-danger {
    display: block; /* Afficher les alertes d'erreur */
}

/* Styles pour les messages d'erreur individuels lorsqu'ils sont affichés */
.alert.alert-danger.alert__message {
    display: block;
}

.article-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group input[type="file"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    width: 100%;
    margin-top: 5px;
}

.form-group input[type="file"]::-webkit-file-upload-button {
    visibility: hidden; /* Cacher le bouton de téléchargement par défaut */
}

.form-group input[type="file"]::before {
    content: 'Choisir un fichier';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.form-group input[type="file"]::after {
    content: '';
    margin-left: 5px;
}

.form-group input[type="file"]:hover::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}


.submit-button {
    background-color: #F1902E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #E07F5F;
}


/* Block: Form */
.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Element: Form Group */
.form__group {
    margin-bottom: 15px;
}

/* Element: Form Input */
.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Modifier: Button */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #F1902E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Modifier: Button - Hover */
.btn--hover {
    background-color: #fab46e;
}

/* Element: File Inputs */
.file-inputs {
    margin-top: 20px;
}

/* Element: File Input */
.file__input {
    margin-bottom: 10px;
}


.galleries__table {
    width: 100%;
    border-collapse: collapse;
}

.galleries__table th,.galleries__table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.galleries__table th {
    background-color: #f2f2f2;
}

.galleries__table td {
    text-align: left;
}

.galleries__table-actions {
    text-align: center;
}

.galleries__table-action {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.galleries__table-action--update {
    background-color: #4CAF50;
}

.galleries__table-action--delete {
    background-color: #f44336;
}

.galleries__table-action:hover {
    background-color: #45a049; /* Pour.update */
    background-color: #c62828; /* Pour.delete */
}

.galleries__table img {
    width: 50px;
    height: auto;
    object-fit: cover;
}
